.Spinner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, .12);
  border-top-color: hsl(213, 83%, 44%);
  border-radius: 50%;
  animation: Spinner-rotate 775ms linear infinite;
  will-change: transform;
}

@keyframes Spinner-rotate {
  to {
    transform: rotate(360deg);
  }
}
