.AppLogo {
  display: inline-flex;
  align-items: center;
}

.AppLogo > span {
  margin-left: .75rem;
  padding: .5rem 0 .5rem .75rem;
  color: var(--text-emphasis-high);
  font-size: 1.25rem;
  border-left: 1px solid var(--line-separator);
}

@media (max-width: 512px) {
  .AppLogo > img {
    height: 48px;
  }

  .AppLogo > span {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }
}
