.SearchHeader {
  display: flex;
  align-items: center;
  background: var(--white);
  border-bottom: 1px solid var(--line-separator);
  padding: .25rem;

  &__searchBar {
    width: 100%;
    margin: .25rem;
  }
}
