.Icon {
  display: inline-block;
  color: currentColor;
  fill: currentColor;

  &.-sizeSmall {
    width: 18px;
    height: 18px;
  }

  &.-sizeRegular {
    width: 24px;
    height: 24px;
  }

  &.-sizeAuto {
    width: 100%;
    height: 100%;
  }
}
