.AdminTemplate {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "head head"
    "rail main"
    "foot foot";

  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
}

.AdminTemplate > :first-child {
  grid-area: head;
}

.AdminTemplate > :nth-child(2) {
  grid-area: rail;
}

.AdminTemplate > :nth-child(3) {
  grid-area: main;
}

.AdminTemplate > :last-child {
  grid-area: foot;
}

.MenuDrawer-user:hover h3,
.MenuDrawer-user:focus h3 {
  text-decoration: underline;
}

.MenuDrawer-Item {
  color: var(--text-emphasis-high);
}

.MenuDrawer-Item:hover,
.MenuDrawer-Item:focus {
  background: rgba(0, 0, 0, .05);
}

.MenuDrawer-Item.-selected {
  background: #d4e6f7;
  color: #0a6bc2;
  font-weight: 600;
}
