.Dialog {
  &__overlay {
    background: hsla(0, 0%, 0%, 0.33);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
  }

  &__content {
    padding: 2rem;
    outline: none;
    position: relative;
    background: var(--white);

    .-sizeRegular > & {
      width: 50vw;
      margin: 10vh auto;
      border-radius: .25rem;
      box-shadow:
        0 12px 17px 2px rgba(#000, .14),
        0 5px 22px 4px rgba(#000, .12),
        0 7px 8px -4px rgba(#000, .2);
    }

    .-sizeFull > & {
      width: 100%;
      height: 100%;
    }
  }

  &__close {
    position: absolute;
    top: .75rem;
    right: .75rem;
  }
}
