.ScholarshipPreview__linkBtnIcon {
  opacity: 0;
  transform: translateX(-25%);
  transition: all 125ms ease-out;
}

.ScholarshipPreview__linkBtn:hover .ScholarshipPreview__linkBtnIcon,
.ScholarshipPreview__linkBtn:focus .ScholarshipPreview__linkBtnIcon {
  transform: translateX(0);
  opacity: 1;
}
