[data-reach-listbox-popover] {
  border: none;
  padding: 0.5rem 0;
  border-radius: 0.125rem;
}

[data-reach-listbox-popover],
[data-reach-listbox-popover]:focus-within {
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

[data-reach-listbox-option] {
  padding: 0.5rem 0.75rem;
  margin: 0 0.5rem;
  border-radius: 0.25rem;
}

[data-reach-listbox-option][aria-selected='true'] {
  color: initial;
  background: hsl(0, 0%, 0%, 0.1);
}

[data-reach-listbox-button] {
  border: none;
  height: 40px;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background: #f5f5f5;
}

[data-reach-listbox-button][aria-disabled='true'] {
  cursor: not-allowed;
}
