.SearchBar {
  display: flex;
  border-radius: 4px;
  background: var(--gray-100);

  &__iconBtn {
    align-self: center;
    padding: .75rem;
  }

  &__input {
    width: 100%;
    min-height: 100%;
    border: none;
    background: transparent;
  }
}
