.Markdown {
  ol {
    list-style: decimal;
    margin-top: .5rem;
    padding-left: 2rem;
  }

  a {
    color: #0000ff;
  }

  pre {
    font-family: inherit;
  }

  code {
    word-break: keep-all;
    white-space: pre-wrap;
    font-family: inherit;
  }

  a:hover {
    text-decoration: underline;
  }
}

