.Button {
  $primary: hsl(213, 83%, 44%);

  user-select: none;
  font-weight: 600;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;

  // firefox: remove inner border on focus
  &::-moz-focus-inner {
    border: none;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px #d4e6f7;
  }

  &.-shapeSquare {
    min-width: 88px;
  }

  &.-sizeRegular.-shapeSquare {
    height: 3rem;
    border-radius: .25rem;
    font-size: 1.125rem;
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }

  &.-wide.-shapeSquare {
    width: 100%;
  }

  &.-colorPrimary {
    color: #fff;
    background: $primary;
    &:hover { background: rgba($primary, .85); }
    &:active { background: var(--primary); }
  }

  &.-colorPrimary.-outline {
    color: var(--primary);
    background: transparent;
    &:hover,
    &:focus { background: rgba($primary, 0.05); }
    &:active { background: rgba($primary, 0.08); }
  }

  &.-colorSecondary {
    color: var(--text-emphasis-high);
    background: var(--gray-100);
    &:hover { background: var(--gray-200); }
    &:active { background: var(--gray-100); }
  }

  &.-colorDanger {
    color: var(--white);
    background: #d32f2f;
    &:hover { background: rgba(#d32f2f, .85); }
    &:active { background: #d32f2f; }
  }

  &.-colorDanger.-outline {
    color: #d32f2f;
    background: transparent;
    &:hover,
    &:focus { background: rgba(#d32f2f, .05); }
    &:active { background: rgba(#d32f2f, .08); }
  }

  &-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .-shapeSquare &-indicator {
    flex-shrink: 0;
    margin-right: .5rem;
  }

  &.-disabled,
  &.-loading {
    opacity: .5;
    pointer-events: none;
  }
}
