.UserCard {
  position: relative;
  border-radius: .25rem;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    padding: 0 .5rem .5rem .5rem;
    color: #fff;
    background: linear-gradient(0deg, rgba(#000, .6) 0%, rgba(255, 255, 255, 0) 85%);
    transition: all 125ms cubic-bezier(.25, .8, .25, 1);
    opacity: 0;
  }

  &:hover {
    box-shadow:
      0 14px 28px rgba(#000, .25),
      0 10px 10px rgba(#000, .22);
  }

  &:hover &__content {
    opacity: 1;
  }
}
