:root {
  --primary: hsl(213, 83%, 44%);
  --text-emphasis-high: hsl(0, 0%, 13%);
  --text-emphasis-medium: hsl(0, 0%, 40%);
  --line-separator: hsl(0, 0%, 88%);

  --font-base: 16px;
  --font-sans: 'Open Sans', sans-serif;
  --weight-regular: 400;
  --weight-medium: 600;
}

body {
  margin: 0;
  line-height: 1.5;
  font-size: var(--font-base);
  font-family: var(--font-sans);
  background-color: hsl(0, 0%, 99%);
  color: var(--text-emphasis-high);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: var(--weight-regular);
}

button,
input,
textarea,
select {
  outline: none;
  font-size: 1rem;
  font-family: var(--font-sans);
}

b,
em {
  font-weight: var(--weight-medium);
}

input[type='search'] {
  padding: 0;
  appearance: none;
}

/* clears the 'X' from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
